<div class="container">
<h3>Mentions légales</h3>

<p>Données fournies par la DGAC.</p>
<p>Trafic : données de 1990 à 2018, destinations avec au moins 500 passagers par mois, sommées par année</p>
<p>Pollution : données pour les émissions 2018, émises à moins de 1000 m d'altitude pendant les phases de roulage, atterrissage et décollage. Seules les destinations avec au moins 500 passagers par mois sont prises en compte. Les données sont issues du calculateur Tarmaac de la DGAC. </p>
<p>Données 2018 partielles. </p>
<p>Visualisation sous licence GNU GPL v3</p>
</div>
