<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/map" routerLinkActive="active">Aéroports</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item">
		<a class="nav-link" routerLink="/comparaison" routerLinkActive="active">Comparaison</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" routerLink="/about" routerLinkActive="active">A propos</a>
	  </li>
	</ul>
	
  </div>
</nav>

<div style="margin-top: 60px;">
	<router-outlet></router-outlet>
</div>

<div class="modal" tabindex="-1" role="dialog" id="legalModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mentions légales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Données fournies par la DGAC.</p>
		<p>Trafic : données de 1990 à 2016, destinations avec au moins 500 passagers par mois, sommées par année</p>
		<p>Pollution : données pour les émissions 2016, émises à moins de 1000 m d'altitude pendant les phases de roulage, atterrissage et décollage. Seules les destinations avec au moins 500 passagers par mois sont prises en compte. </p>
		<p>Visualisation sous licence GNU GPL v3</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
