<div class="container">
  <div class="row" style="padding-bottom: 10px;">
    <div class="col text-center">
      <span class="fas fa-calendar-alt"></span> 
      De
      <input type="number" id="startYear" [(ngModel)]="startYear" name="startYear" value="1990" min="1990" max="{{endYear}}">
      à
      <input type="number" id="endYear" [(ngModel)]="endYear" name="endYear" value="2018" max="{{lastDataYear}}" min="{{startYear}}">

    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center">
      Aéroport 1
      <select id="airport1" [ngModel]="airport1" name="airport1" (ngModelChange)="airport1=$event;loadExtra($event,1)">
        <option *ngFor="let airport of airports" value="{{airport.oaci}}">{{airport.name | titlecase}} ({{airport.oaci}})</option>
      </select>
    </div>
    <div class="col-6 text-center">
      Aéroport 2
      <select id="airport2" [ngModel]="airport2" name="airport2" (ngModelChange)="airport2=$event;loadExtra($event,2)">
        <option *ngFor="let airport of airports" value="{{airport.oaci}}">{{airport.name | titlecase}} ({{airport.oaci}})</option>
      </select>
    </div>
  </div>
  <h4 class="text-center" *ngIf="airport1 && airport2">Données {{lastDataYear}}</h4>
  <div class="row" *ngIf="airport1 && airport2">

    <div class="col-5 order-1 text-center">
      {{selectedAirportsPassengers[0] | number}}<br />
      {{selectedAirportsDescription[0].nb_destinations}}<br />
      <div *ngIf="tops10[0].length > 0; else notop10_1">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Destinations</th>
              <th scope="col">Passagers</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dest of tops10[0]">
              <td>{{dest[0]}}</td>
              <td>{{dest[1] | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #notop10_1>
        <p>Données non disponibles</p>
      </ng-template>
    </div>
    <div class="col-2 order-2 order-sm-1 font-weight-bold text-center">
      Passagers<br />
      Destinations<br />
      Top 10
    </div>
    <div class="col-5 order-3 text-center">
      {{selectedAirportsPassengers[1] | number}}<br />
      {{selectedAirportsDescription[1].nb_destinations}}<br />
      <div *ngIf="tops10[1].length > 0; else notop10_2">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Destinations</th>
              <th scope="col">Passagers</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dest of tops10[1]">
              <td>{{dest[0]}}</td>
              <td>{{dest[1] | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #notop10_2>
        <p>Données non disponibles</p>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-airport-details [yearStart]="startYear" [yearEnd]="endYear" [showDatePicker]="false" [oaci]="airport1" #ap1></app-airport-details>
    </div>
    <div class="col-6">
      <app-airport-details [yearStart]="startYear" [yearEnd]="endYear" [showDatePicker]="false" [oaci]="airport2" #ap2></app-airport-details>
    </div>
  </div>
</div>
