
<div *ngIf="airport; else noAirport">
	<h3>{{airport.name | titlecase}} ({{airport.oaci}})</h3>

	<p><b>Passagers en {{lastYear}}</b> {{lastPassengers | number }}<br>
	<b>Destinations desservies en {{lastYear}}</b> {{airport.nb_destinations}}</p>

	<h4>Emissions polluantes ({{lastYear}}) en tonnes</h4>

	<div *ngIf="emissions.length > 0; else noEmissions">
	<p><b>CO2</b> {{emissions[0] * 1000 | number:'1.0-3':'fr' }}<br><!-- kilotons -->
	<b>Oxydes d'azote</b> {{emissions[1] | number:'1.0-3':'fr' }}<br>
	<b>COV non méthanique</b> {{emissions[2] | number:'1.0-3':'fr' }}<br>
	<b>Particules</b> {{emissions[3] | number:'1.0-3':'fr' }}</p>
	</div>
	<ng-template #noEmissions>
	<p>Données non disponibles</p>
	</ng-template>

	<h4>Vols par faisceau ({{lastYear}})</h4>

	<canvas id="flightsPerType" width="200" height="200"></canvas>

	<h4>Top 10 destinations ({{lastYear}})</h4>

	<div *ngIf="top10.length > 0; else notop10">
	<table class="table table-striped table-sm">
	  <thead>
		<tr>
		  <th scope="col">Destinations</th>
		  <th scope="col">Passagers</th>
		</tr>
	  </thead>
	  <tbody>
		<tr *ngFor="let dest of top10">
		  <td>{{dest[0]}}</td>
		  <td>{{dest[1] | number }}</td>
		</tr>
	  </tbody>
	</table>
	</div>
	<ng-template #notop10>
	<p>Données non disponibles</p>
	</ng-template>

	<h4>Nombre de passagers 1990-{{lastYear}}</h4>

	<div style="width: 90%;">
		<canvas id="passengersPerYear" height="250"></canvas>
	</div>

	<a class="btn btn-outline-primary" role="button" routerLink="/details/{{airport.oaci}}">
	  Plus d'infos
	</a>
</div>
<ng-template #noAirport>
<p>Cliquez sur la carte pour sélectionner un aéroport.</p>
</ng-template>
