
<div *ngIf="oaci; else noAirport">
	<h3>{{airport.name | titlecase}} ({{airport.oaci}})</h3>

	<p><b>Passagers en {{lastYear}}</b> {{lastPassengers | number }}<br>
	<b>Destinations desservies en {{lastYear}}</b> {{airport.nb_destinations}}</p>

	<h4>Emissions polluantes ({{lastYear}}) en tonnes</h4>

	<div *ngIf="emissions.length > 0; else noEmissions">
    <table class="table table-sm">
      <tr>
        <td class="text-right">
          <p><b><abbr title="Dioxyde de carbone">CO<sub>2</sub></abbr></b><br>
          <b>Oxydes d'azote</b><br>
          <b><abbr title="Composés Organiques Volatils">COV</abbr> non méthanique</b><br>
          <b>Particules</b></p>
        </td>
        <td class="text-left">
          <p>{{emissions[0] * 1000 | number:'1.0-3':'fr' }}<br><!-- kilotons -->
            {{emissions[1] | number:'1.0-3':'fr' }}<br>
            {{emissions[2] | number:'1.0-3':'fr' }}<br>
            {{emissions[3] | number:'1.0-3':'fr' }}
          </p>
        </td>
      </tr>
    </table>
	</div>
	<ng-template #noEmissions>
	<p>Données non disponibles</p>
	</ng-template>

	<h4>Vols par faisceau ({{lastYear}})</h4>

	<canvas id="flightsPerType" width="150" height="150"></canvas>

	<h4>Top 10 destinations ({{lastYear}})</h4>

	<div *ngIf="top10.length > 0; else notop10">
	<table class="table table-striped table-sm">
	  <thead>
		<tr>
		  <th scope="col">Destinations</th>
		  <th scope="col">Passagers</th>
		</tr>
	  </thead>
	  <tbody>
		<tr *ngFor="let dest of top10">
		  <td>{{dest[0]}}</td>
		  <td>{{dest[1] | number }}</td>
		</tr>
	  </tbody>
	</table>
	</div>
	<ng-template #notop10>
	<p>Données non disponibles</p>
	</ng-template>

	<h4>Nombre de passagers 1990-{{lastYear}}</h4>

	<div style="width: 90%;">
		<canvas id="passengersPerYear" height="250"></canvas>
	</div>

	<p class="text-center">
	<a class="btn btn-outline-primary" role="button" routerLink="/details/{{airport.oaci}}">
	  Plus d'infos
	</a>
	</p>
</div>
<ng-template #noAirport>
<p>Cliquez sur la carte pour sélectionner un aéroport.</p>
</ng-template>
