<div class="container" style="margin-top: 54px;">
	<div *ngIf="showDatePicker">
	    De
		<input type="number" id="startYear" [(ngModel)]="yearStart" name="startYear" value="1990">
		à
		<input type="number" id="endYear" [(ngModel)]="yearEnd" name="endYear" value="2016">
	</div>

	<h2>Evolution du nombre de passagers par faisceau</h2>
	<div>
		<canvas id="passengers" height="300" width="600"></canvas>
	</div>

	<h2>Evolution du nombre de vols par faisceau</h2>
	<div>
		<canvas id="flights" height="300" width="600"></canvas>
	</div>
</div>